static/.backups/immich/100_0247.jpg
static/.backups/immich/100_0550.jpg
static/.backups/immich/IMG_20200705_135052.jpg
__pycache__/
venv/
*.log
static/backups/
static/photos/
models/
config/*.json
logs/
static/backups/
static/prepared/
static/photos/
*.jpg
*.jpeg
*.png
*.gif
static/.backups/
logs/
*.log
log.*
