Flask==2.3.2
requests==2.31.0
Pillow==10.4.0
pygame
psutil
smbprotocol
werkzeug
Flask-Babel
piexif
qrcode[pil]
numpy
thefuzz
python-Levenshtein
deep-translator
polib
python-telegram-bot