<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Configuration - Pimmich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='pimmich_logo.png') }}" alt="Logo Pimmich" class="logo">

        <h2>Configuration du cadre photo connecté</h2>
        
                <div class="logout-link">
            <a href="/logout">&#128682; Se déconnecter</a>
        </div>

        <div class="config-container">
            <!-- Colonne de gauche : Formulaire de configuration -->
            <div class="config-left">
                <form method="POST" action="/configure">
  <fieldset>
                <legend>                    <h3>Paramètres d'affichage</h3></legend>

                    <label for="display_duration">Durée d'affichage (en secondes) :</label>
                    <input type="number" id="display_duration" name="display_duration" value="{{ config.display_duration }}" required>

                    <label for="active_start">Heure de début d'activité (HH:MM) :</label>
                    <input type="time" id="active_start" name="active_start" value="{{ config.active_start }}">

                    <label for="active_end">Heure de fin d'activité (HH:MM) :</label>
                    <input type="time" id="active_end" name="active_end" value="{{ config.active_end }}">
</fieldset>

   <fieldset>
                <legend>  <h3>Configuration de l'album photo Immich</h3></legend>

                    <label for="source">Source des photos :</label>
                    <select id="source" name="source">
                        <option value="immich" {% if config.source == 'immich' %}selected{% endif %}>Album Immich</option>
                        <option value="usb" {% if config.source == 'usb' %}selected{% endif %}>Clé USB</option>
                    </select>

                    <label for="album_name">Nom technique de l'album Immich :</label>
                    <input type="text" id="album_name" name="album_name" value="{{ config.album_name }}">

                    <label for="album_title">Titre affiché dans le diaporama :</label>
                    <input type="text" id="album_title" name="album_title" value="{{ config.album_title }}">

                    <label for="immich_url">URL du serveur Immich :</label>
                    <input type="url" id="immich_url" name="immich_url" value="{{ config.immich_url }}">

                    <label for="immich_token">Token d'accès Immich :</label>
                    <input type="text" id="immich_token" name="immich_token" value="{{ config.immich_token }}">

                    <button type="submit" class="save-button">Enregistrer</button>
                </form>
            </div>
</fieldset>
            <!-- Colonne de droite : Boutons d'action -->
<fieldset>
    <legend><h3> Actions </h3></legend>
            <div class="config-right">
                <form method="POST" action="/toggle_slideshow">
                    <button type="submit">
                        {% if slideshow_running %}Arrêter{% else %}Démarrer{% endif %} le diaporama
                    </button>
                </form>

                <form method="POST" action="/download">
                    <button type="submit">Télécharger les photos</button>
                </form>

                <form method="POST" action="/reboot">
                    <button type="submit">Redémarrer le système</button>
                </form>

                <form method="POST" action="/shutdown">
                    <button type="submit">Éteindre le système</button>
                </form>
                
                
                
    <center><h3>Credits</h3></center>
    <table align=center valign=middle><tr><td><img src="static/gotenash.jpg" width=75px></td>
    <td>Auteurs : Gotenash et Shenron</td></tr>
   <tr><td>  <a href="https://www.gadgetaulab.fr"><img src="static/logo_gadgeto.png" width=75px></a></td>
   <td>Projet réalisé dans le cadre du Gadgetaulab <br></td></tr>
   </table>
   
  
    
</fieldset>


                
            </div>
        </div>

    </div>
    
</body>
</html>
